<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Recherche RDV</title>
</head>
<body>

<h2>Recherche des rendez-vous</h2>

<form th:action="@{/patient/rdv/search}" method="get">

  <label>Date (obligatoire)</label>
  <input type="date" name="date" th:value="${date}" required>
  <br><br>


  <label>Médecin (optionnel)</label>
  <select name="idMedecin">
    <option value="">-- Tous les médecins --</option>
    <option th:each="m : ${medecins}"
            th:value="${m.id}"
            th:text="${m.nom + ' ' + m.prenom}"
            th:selected="${idMedecin != null and m.id == idMedecin}">
    </option>
  </select>
  <br><br>


  <label>Ville (optionnel)</label>
  <select name="idVille">
    <option value="">-- Toutes les villes --</option>
    <option th:each="v : ${villes}"
            th:value="${v.id}"
            th:text="${v.nomVille}"
            th:selected="${idVille != null and v.id == idVille}">
    </option>
  </select>
  <br><br>


  <label>Spécialité (optionnel)</label>
  <select name="idSpecialite">
    <option value="">-- Toutes les spécialités --</option>
    <option th:each="s : ${specialites}"
            th:value="${s.id}"
            th:text="${s.libelle}"
            th:selected="${idSpecialite != null and s.id == idSpecialite}">
    </option>
  </select>
  <br><br>

  <button type="submit">Rechercher</button>
</form>


<p th:if="${dateAbs}" style="color:red;">Veuillez choisir une date.</p>

<br><br>

<table th:if="${listRdv != null}" border="1" cellpadding="6">
  <thead>
    <tr>
      <th>Date</th>
      <th>Heure</th>
      <th>Nom Medecin</th>
      <th>Compte Rendu</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="rdv : ${listRdv}">
      <td th:text="${rdv.dateRdv}"></td>
      <td th:text="${rdv.heure}"></td>
      <td th:text="${rdv.medecin.nom}"></td>
      <td th:text="${rdv.compteRenduRdv}"></td>
    </tr>
  </tbody>
</table>
	<p><a th:href="@{/home}"><button>Retour</button></a></p>

</body>
</html>
