<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Création d'un utilisateur</title></head>
<body>
    <h1>Créer un nouvel utilisateur</h1>
    <form method="post" th:action="@{/signup}">
        <label>Email</label>
        <input type="text" name="email"/>
        <br/>
        <label>Prénom</label>
        <input type="text" name="prenom"/>
        <br/>
        <label>Nom</label>
        <input type="text" name="nom"/>
        <br/>
        <label>Nom</label>
        <input type="password" name="password"/>
        <br/>
        <input type="submit" value="Enregister & se connecter"/>
    </form>
    
        <p th:if="${signupFailure}" style="color: red">Une erreur s'est glissé dans le formulaire ou l'utilisateur existe déjà</p>
    <a th:href="@{/login}"><button>Retour à la connexion</button></a>
</html>
